<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">


<!--    <bean class="org.spring.autowire.xml.Address" name="address">-->
<!--        <property name="street" value="Thapkour"/>-->
<!--        <property name="city" value="Indora"/>-->
<!--    </bean>-->

<!--    <bean class="org.spring.autowire.xml.Emp" name="emp1" autowire="byName"/>-->

    <context:annotation-config />

    <bean class="org.spring.annotation.autowire.AddressClass" name="address2">
        <property name="street" value="Thapkour"/>
        <property name="city" value="Indora"/>
    </bean>

    <bean class="org.spring.annotation.autowire.AddressClass" name="address1">
        <property name="street" value="Noida"/>
        <property name="city" value="Noida"/>
    </bean>

    <bean class="org.spring.annotation.autowire.EmpClass" name="emp1" />

</beans>